body{background:lightcyan;
    text-align: center; 
}
  
     h1,h2{ margin: 10px;
     padding: 10px;
          text-shadow:5px 3px 5px red;}
     /*text-align (position in line) could be- center, left, right & justify*/
    /*text-shadow: X Y Deep Color;*/
   
/*line height (space between two line) could be- 3,5px,8pt,300%,3cm*/
ul{font: bold 100% monospace,Arial,"Times new Roman",Times,Serif,sans-serif;
color:rgb(69,3,178); 
line-height:2;
   list-style-type: square
   }
   strong,h1,h2,h3{letter-spacing:3px;
   color: purple;
      display: block; }
/*{font: style variant weight size family;}*/
 
/*letter-spacing = space between two letters*/
     /*ltr=left to right & rtl= right to left*/
a:link {color: blue;}
a:visited {color: yellow;}
a:hover {color:blue; background:lightgreen}
a:active {color:red; background: lightblue;}
input:focus{background:yellow;}
h4{font-family: cursive;
background: navy; 
color: white;
font-size:large;
position:fixed;
left:2px;
top:50%;}
.contact{
   
   outline: blue dashed medium;
   background-color:lightyellow;
   width:100%;
   word-spacing:20px;
   line-height:10px;}
      /* CSS for original page starting after contact page*/
    .boys,.girls{ display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
    }
   .details{ 
      border: 2px solid lightcyan;
      margin-bottom: 10px;
     border-radius:30px;
   background-color:lightblue;
      font-size: large;
      width: 48%;
    /* min-width: 33.33%;
      max-width: 50%; */
    }
   img,p,strong {margin:10px 0 10px 0;}
      a{text-decoration:none;}
footer{text-align: center;
background: grey;
color: white;
margin: 0;
padding:1px;
}
